.c4T5:after {
   content: 'COMPI';
}
.c4T6:after {
   content: 'COMPI';
}
.c5T5:after {
   content: 'COMPI';
}
.c5T6:after {
   content: 'COMPI';
}
.c2T3:after {
   content: 'CDSD';
}
.c2T4:after {
   content: 'CDSD';
}
.c5T3:after {
   content: 'CDSD';
}
.c5T4:after {
   content: 'CDSD';
}
.c2T1:after {
   content: 'IA';
}
.c2T2:after {
   content: 'IA';
}
.c5T1:after {
   content: 'IA';
}
.c5T2:after {
   content: 'IA';
}
.c3T3:after {
   content: 'LCDSD';
}
.c3T4:after {
   content: 'LCDSD';
}
.c3T1:after {
   content: 'LIA';
}
.c3T2:after {
   content: 'LIA';
}
.c4T1:after {
   content: 'OTIM I';
}
.c4T2:after {
   content: 'OTIM I';
}
.c6T3:after {
   content: 'OTIM I';
}
.c6T4:after {
   content: 'OTIM I';
}
.c4T3:after {
   content: 'PAÀO';
}
.c4T4:after {
   content: 'PAÀO';
}
